html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #f05a28;
    color: black;
    width: 100%;
    padding: 20px;
    text-align: center;
    height: 100px;
}

.head-container{
    display: table;
    vertical-align: middle;
    
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.logo p{
    display: inline-block;
    font-size: 25px;
    font-family:"Sofia", sans-serif;
    font-weight: bold;
    color: #f2e1d8;
    margin-right: 1em;
}

.logo-image{
    display: inline-block;
    position: absolute;
     
}


.menu-link{
    display: inline-block;
    vertical-align: middle;
    width: 75%;
}

.menu-link a{
    font-size: 22px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: #f2e1d8;
    text-decoration: none;
    margin: 2.2em;
}

.social-logo{
    display: inline-block;
    vertical-align: middle;
}


.social-logo a{
    color: #f2e1d8;
    font-size: 2.5em;

}

main .main-container{
    height: auto;
}

.main-text{
    width: 50%;
    position: absolute;
    top:150px;
    left:60px;
}

.main-contens{
    position: relative;
    background-color: #027353;
    padding: 20px;
    width: 100%;
    height: 50em;
}

.main-contens h2{
    font-size: 50px;
    color:  #ca8a04;
}

.main-contens p{
    font-size: 25px;
    font-weight: bold;
    color: #03a678;
    width: 85%;
}

.main-image1{
    position: absolute;
    right: 130px;
    top: 150px;
}

.main-image1 img{
    border-radius: 10px;
    filter: drop-shadow(8px 8px 10px rgb(35, 32, 32))
}

.main-image2{
    position: relative;
    left: 0px;
    top: 450px;
}

.main-image2 img{
    opacity: 50%;
}


footer{
    background-color: #f05a28;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

/*-------------- project----------------------*/

.aboutme-contets{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    border: 1px solid #03a678;
    border-radius: 5px;
    padding: 2em;
    box-shadow: 0 0 10px grey;
    margin: 5em 10em;
}

.aboutme-contets .aboutme-text{
    margin: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

.aboutme-contets .aboutme-text h2{
    color:#f2421b;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
}

.aboutme-contets .aboutme-text p{
    line-height: 2em;
    font-size: 22px;
}

.aboutme-contets .about-image{
    padding: 1em;
    margin: auto;

}

.aboutme-contets .about-image img{
    border-radius: 10px;
    filter: drop-shadow(4px 4px 5px grey)
    /* width: 100%; */
}

.program .program-text h2{
    color: #03a678;
    font-size: 40px;
    text-align: center;
    margin-bottom: 1em;
}


.program .program-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 3em;
}

.program-info img{
    width: 100%;
    border-radius: 10px;

}

.program-info h2{
    color:#03a678;
    text-align: center;
    font-size: 30px;
}

/*-------------- contatc----------------------*/

.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5em;
    padding: 20px;
    border: 1px solid #f2e1d8;
    box-shadow: 0 0 10px grey;
    border-radius: 5px;
    margin: 6em;
}

.info .info-card{
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
}


.info .info-card .logo a{
    font-size: 3em;
    color:#03a678;
}

.info .info-card .text{
    color:#f05a28
}

.contact{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
}

.contact .image img{
    width: 100%;
    padding: 2em;
}

.contact .contact-detail{
    margin-left: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
}

.contact-detail .cotact-detail-title{
    margin-left: 80px;
}



.contact .contact-detail h3{
    font-size: 40px;
    color:#027353
}

.inputbox1{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    padding-top: 0px;
    padding-left: 80px;
    padding-bottom: 30px;

}

.inputbox2{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    padding-left: 80px;
    padding-top: 0px;
    padding-bottom: 30px;
}


.inputbox1 input{
    height: 40px;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
}

.inputbox2 input{
    height: 40px;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
}

.input-msg{
    display: flex;
    justify-content: left;
    /* align-items: center; */
    flex-direction: column;
    margin-top: 20px;
    gap:30px; 
    padding-left: 80px;
}

.input-msg textarea{
    height: 200px;
    width: 670px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}

.input-msg button{
    height: 40px;
    width: 170px;
    background:#eeeeee;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.input-msg button:hover {
    background:#f05a28
  }











